/** Reset **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-font-size: 15px;

    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);

    --max-width-desktop: 1440px;
    --max-widht-mobile: 375px;

    --font-light: 400;
    --font-bold: 700; 
}

@font-face {
    font-family: 'Outfit';
    src: url(https://fonts.google.com/specimen/Outfit);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: var(--color-light-gray);
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    background-color: var(--color-white);

    padding: 1rem;
    border-radius: 20px;
    box-shadow: 1rem 2rem 3rem var(--color-dark-blue);

    font-family: 'outfit', sans-serif;

    max-width: 20rem;
    
}

.container .image{
    border-radius: 10px;
}

.container .text{
    color: var(--color-grayish-blue);
    margin-bottom: 1rem;
}